# Server
PORT=32000
NODE_ENV=development

# Application Role (Strictly for DML: SELECT, INSERT, limited UPDATE)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=jupiter_db
DB_USER=jupiter_app
DB_PASSWORD=gmo

# Admin Role (For DDL: Migrations/Schema Changes)
DB_ADMIN_USER=jupiter_admin
DB_ADMIN_PASSWORD=gmo

# Service Bulletin Sync
SB_SYNC_CRON_ENABLED=false
SB_SYNC_RUN_ON_BOOT=false
